<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quanlythuvien" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanLyThuVien" >
        <activity
            android:name=".ChiTietDocGiaActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SigninActivity"
            android:exported="false" />
        <activity
            android:name=".DocGiaActivity"
            android:exported="false" />
        <activity
            android:name=".introActivity"
            android:exported="false" />
        <activity
            android:name=".BaoCaoActivity"
            android:exported="false" />
        <activity
            android:name=".ChiTietBaoCaoActivity"
            android:exported="false" />
        <activity
            android:name=".PhieuMuonActivity"
            android:exported="false" />
        <activity
            android:name=".ChiTietPhieuMuonActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>